footer button {
  &.disabled {
    opacity: 0.6;
    cursor: not-allowed;
    background-color: #ccc !important;
  }
  
  .filter-disabled-text {
    font-size: 0.8em;
    color: #666;
    font-style: italic;
    display: block;
    margin-top: 2px;
  }
}