<div class="legend">
  <h3 class="legend-title clickable" (click)="toggleCollapse()">
    Legend 
    <span class="collapse-icon">{{ isCollapsed ? '▶' : '▼' }}</span>
  </h3>
  <div class="legend-items" [class.collapsed]="isCollapsed">
    <span class="legend-item">🤔 Serious</span>
    <span class="legend-item">🤪 Chaotic</span>
    <span class="legend-item">😀 Happy</span>
    <span class="legend-item">😎 Cool</span>
    <span class="legend-item">😈 Edgy</span>
    <span class="legend-item">🫣 Shy</span>
    <span class="legend-item">😌 Calm</span>
    <span class="legend-item">🥱 Tired</span>
    <span class="legend-item">😤 Strict</span>
    <span class="legend-item">😠 Angry</span>
    <span class="legend-item">☹️ Sad</span>
    <span class="legend-item">🎯 Straightforward</span>
    <span class="legend-item">🩷 Moe</span>
    <span class="legend-item">🎵 Music Enjoyer</span>
    <span class="legend-item">💛 Tier 1</span>
    <span class="legend-item">🩶 Tier 2</span>
    <span class="legend-item">🤎 Tier 3</span>
  </div>
  <div class="header-buttons-container" [class.collapsed]="isCollapsed || showMoreCharacters">
    <app-header-buttons (selectMood)="onMoodSelected($event)"></app-header-buttons>
  </div>
</div>