form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  div {
    margin-bottom: 10px;
  }

  label {
    font-weight: bold;
    margin-right: 10px;
  }

  button {
    width: auto;
    align-self: center;
  }
}