<header>
  <h1>{{tournamentName}}</h1>
  @if (tournamentCreated) {
    <app-tournament-bracket 
      [bracketSize]="numPlayers"
      [selectedIds]="includedCharacterIds"
      [seedPreference]="seedPreference">
    </app-tournament-bracket>
  } @else {
    <form>
      <div>
        <label for="tournament-name">Tournament Name:</label>
        <input type="text" id="tournament-name" name="tournament-name" [(ngModel)]="tournamentName">
      </div>
      <div>
        <label for="num-players">Number of Players:</label>
        <select id="num-players" name="num-players" [(ngModel)]="numPlayers">
          <option value="64">64</option>
          <option value="128">128</option>
        </select>
      </div>
      <div class="seeding-pref">
        <label>Seeding preference:</label>
        <label>
          <input type="radio" name="seed-pref" value="high" [(ngModel)]="seedPreference">
          Cute characters
        </label>
        <label>
          <input type="radio" name="seed-pref" value="low" [(ngModel)]="seedPreference">
          Non-cute characters
        </label>
      </div>
      <div>
        @switch (+numPlayers) {
          @case (64) {
            A massive tournament
          }
          @case (128) {
            A gargantuan tournament
          }
          @default {
            {{numPlayers}} characters
          }
        }
      </div>
      <button (click)="createBracket()">Create Bracket</button>
    </form>
  }
  
  <app-back-button></app-back-button>
</header>
