.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  text-align: left;
}

textarea, input {
  width: calc(100% - 22px);
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #444; /* Darker border */
  border-radius: 4px;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
}

textarea {
  resize:vertical;
}

.two-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.two-elements {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  align-items: center;
}

.two-elements button {
  margin-top: 5px;
}

button {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background-color: #007BFF; /* Same blue */
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.output {
  margin-top: 20px;
  padding: 10px;
  border-radius: 4px;
  white-space: pre-wrap;
  height: 6rem;
}

.red {
  background-color: #ff0000;
}

.red:hover {
  background-color: #b30000;
}

.pink {
  background-color: #cc00ff;
}

.pink:hover {
  background-color: #8f00b3;
}