<div id="moodModal">
  <button id="closeModal" (click)="close.emit()">&times;</button>
  <div class="modalHeader">
    <h2 id="moodName">
      <ng-container *ngIf="mood.emoji !== '♀️' && mood.emoji !== '♂️'">{{mood.emoji}}</ng-container>{{mood.name}}
    </h2>
    <h2 id="moodDescription">{{mood.description}}</h2>
  </div>
  <div>
    <div 
      id="characterList"
      *ngFor="let c of filteredCharacters"
    >
    <div>
      <img [src]="assetPath(c.img)" [alt]="c.name" />
      <strong>{{ c.name }}</strong>
      <span class="details-link" (click)="selectCharacter.emit(c)" (click)="close.emit()">Details</span>
      <a class="chat-link" href="{{c.link}}" target="_blank">Chat</a>
    </div>
    </div>
    <div id="modalFooter">
      <button *ngIf="mood.name === 'All'" routerLink="spin-the-wheel" 
      routerLinkActive="active" 
      style="background-color: #4CAF50;">Character Picker</button>
      <a id="modalLink" (click)="selectRandomCharacter()">Random Character 🔀</a>
    </div>
  </div>
</div>