<div class="stats-page">
  <app-back-button></app-back-button>
  
  <h1>Character Statistics</h1>
  
  <app-stats-container [stats]="stats"></app-stats-container>
  
  <app-character-list 
    [lastChattedCharacters]="lastChattedCharacters" 
    [neverChattedCharacters]="neverChattedCharacters"
    [isDesktop]="isDesktop"
    (selectCharacter)="onCharacterClick($event)">
  </app-character-list>
</div>

<app-character-modal *ngIf="selectedCharacter" [character]="selectedCharacter" (close)="selectedCharacter = null"></app-character-modal>
