.announcement-content {
  background-color: #fff3cd;
  border: 1px solid #ffeeba;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

@media (prefers-color-scheme: dark) {
  .announcement-content {
    background-color: #6f5420;
    border: 1px solid #6f5420;
    color: white;
  }
}