.character-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(152px, 1fr));
  gap: 10px;
}

.character-name {
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 4px;
  user-select: none;
  display: inline-block;
  background-color: white;
  
  &.selected {
    outline: 3px solid yellow;
  }
}

.character-list .character-name, .room .character-name {
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

.character-name.red {
  color: #FF0000;
}

.character-name.blue {
  color: #0000FF;
}

.character-name.pink {
  color: #ff56da;
}

.character-name.black {
  color: #333;
}

.character-pool {
  margin-bottom: 20px;
  min-height: 100px;
}

button {
  padding: 10px 20px;
  cursor: pointer;

  &:hover {
    background-color: #2980b9;
  }
}

button.danger {
  background-color: #e74c3c;
  color: white;

  &:hover {
    background-color: #c0392b;
  }
}

.rooms-section {
  margin-top: 30px;

  .buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 10px 0;
    justify-content: center;
    align-items: center;
  }
}

input[type="number"] {
  width: 60px;
}

.rooms-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(186px, 1fr));
  gap: 10px;
}

.room {
  border: 2px solid #666;
  border-radius: 8px;
  padding: 15px;
  min-height: 80px;
  
  h3 {
    margin-top: 0;
  }
  button {
    margin: 0;
  }
}

.room-characters {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
}

.empty-room {
  color: #999;
  font-style: italic;
}

.banned-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  text-align: left;
}

@media (prefers-color-scheme: dark) {
  button:hover {
    background-color: #206c9e;
  }
  .character-name {
    background-color: #333;
    &.selected {
      outline: 3px solid purple;
    }
  }
  .character-name.red {
    color: #F33;
  }
  .character-name.blue {
    color: #36F;
  }
  .character-name.black {
    color: #999;
  }
}