<main class="tournament-grid" [class.one-column]="bracketSize <= 4" [class.four-columns]="bracketSize > 4">
  @if (!tournamentWinner) {
    @for (column of columns; track $index) {
      <div class="column">
        @for (c of column; track c.id; let i = $index) {
          @if (i % 2 === 0) {
            @if (
              (column[i] && column[i + 1]) &&
              !(column[i].id === -1 || column[i].name === 'BYE') &&
              !(column[i + 1].id === -1 || column[i + 1].name === 'BYE')
            ) {
              <div class="matchup">
                <div class="character" [class.win]="isWinner(column[i].id)" (click)="toggleWin(column[i].id)">
                  @if (column[i].img) {
                    <img [src]="assetPath(column[i].img)" [alt]="column[i].shortName" />
                  } @else {
                    <div class="question-mark">?</div>
                  }
                  <h2>{{ column[i].shortName }}</h2>
                  <span class="seed">{{ column[i].permaSeed || "0" }}</span>
                </div>
                <div class="character" [class.win]="isWinner(column[i + 1].id)" (click)="toggleWin(column[i + 1].id)">
                  @if (column[i + 1].img) {
                    <img [src]="assetPath(column[i + 1].img)" [alt]="column[i + 1].shortName" />
                  } @else {
                    <div class="question-mark">?</div>
                  }
                  <h2>{{ column[i + 1].shortName }}</h2>
                  <span class="seed">{{ column[i + 1].permaSeed || "0" }}</span>
                </div>
              </div>
            }
          }
        }
      </div>
    }
  } @else {  
    <div class="character-win">
      @if (tournamentWinner.img) {
        <img [src]="assetPath(tournamentWinner.img)" [alt]="tournamentWinner.shortName" />
      } @else {
        <div class="question-mark">?</div>
      }
        <h2>Champion: {{ tournamentWinner.name }}</h2>
    </div>
  }
</main>
<footer>
  @if (!tournamentWinner) {
    <button (click)="createNewBracket()" [disabled]="!allWinnersChosen()" title="Create new bracket with winners">Next Round</button>
  }
</footer>