.back-button {
  background-color: #DD3333;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
  
  &:hover {
    background-color: #BB2222;
  }
}
